# Android/IntelliJ
.idea/
.gradle/
build/
*.iml
local.properties

# Signing secrets
keystore.properties
*.keystore
*.jks

# Build outputs
capture/
output.json
/app/release/
**/build/

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# Kotlin
.kotlin/

# Android Studio / Gradle temp files
.navigation/
captures/
.externalNativeBuild
.cxx
local.properties
